/* 
CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/
*/
* {
  margin: 0;
  padding: 0;
  /*
		Changes the behaviour of how CSS calculates the total width and height of elements
	*/
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  line-height: 3.5rem;
  cursor: default;
  text-align: center;
}

.sub-title {
  display: inline-flex;
  font-size: 1rem;
  line-height: 2.5rem;
  color: rgb(80, 80, 80);
  cursor: default;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #6b21a8;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.button:hover {
  background-color: #581c87;
}

#buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  #buttons {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    gap: 0.5rem;
  }

  .button {
    width: 100%;
    text-align: center;
  }
}

#buttons :nth-child(2) {
  background-color: transparent;
  color: #7e22ce;
  text-decoration: none;
  background-color: #e9d5ff;
}

#buttons :nth-child(2):hover {
  background-color: #d8b4fe;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#wave:hover {
  animation: wave 0.5s 5;
}

.profile {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  transition: transform 0.3s;
}

.profile:active {
  transform: scale(0.95);
}
